{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
</head>
<body>
    <header class="bg-[#0F172A] text-white shadow-lg">
    <nav class="mx-auto max-w-7xl px-6 lg:px-8" aria-label="Global">
        <div class="flex h-20 items-center justify-between">
            <div class="flex lg:flex-1">
                <a href="#" class="-m-1.5 p-1.5 text-2xl font-black tracking-tighter text-yellow-400 uppercase">
                    CTC Moica
                </a>
            </div>
            
            <div class="flex gap-x-12">
                <a href="#" class="text-lg font-semibold leading-6 text-white hover:text-yellow-400 transition-colors">Planos</a>
                <a href="#" class="text-lg font-semibold leading-6 text-white hover:text-yellow-400 transition-colors">Sobre</a>
                <a href="#" class="text-lg font-semibold leading-6 text-white hover:text-yellow-400 transition-colors">Contato</a>
            </div>

            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a href="#" class="text-lg font-semibold leading-8 text-white border border-white px-4 py-1 rounded hover:bg-yellow-400 hover:text-blue-950 transition-colors">
                    Entrar <span aria-hidden="true">&rarr;</span>
                </a>
            </div>
        </div>
    </nav>
</header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>